@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main-section-banner {
    background-image: url('https://i.ibb.co/JnmTD12/banner.jpg');
    background-position: center;
    background-size: cover;
  }
}
@layer base {
  html {
    /* @apply bg-gray-200; */
  }
}
